<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Об авторе</title>
  <!--  Импорт библиотеки готовыхс css стилей bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
  <!--основной контейнер div, в котором хранятся все элементы страницы-->
  <div class="bg-image"
       style="background-image: url('../images/bg.jpg'); height: 100vh; overflow-x: hidden;">
    <blockquote class="blockquote text-center"><h1>Информационно-справочная система автопроката</h1></blockquote>
    <!--    div контейнер, в котором хранятся элементы панели навигации-->
    <div class="container">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <!--кнопка для перехода на главную страницу-->
          <li class="nav-item"><a th:href="@{'/'}" class="nav-link active" aria-current="page" style="background-color: black">Главная</a></li>
          <!--кнопка для перехода на страницу "об авторе"-->
          <li class="nav-item"><a th:href="@{'/about'}" class="nav-link" style="color: #ffffff">Об авторе</a></li>
        </ul>
      </header>
    </div>
    <main class="px-3 text-center text-white">
      <p class="lead">Работу выполнил</p>
      <p class="lead">Перов Андрей</p>
      <p class="lead">Студент группы ПИ21-3</p>
      <p class="lead">Факультет ИТиАБД</p>
      <p class="lead">Финансовый университет</p>
    </main>
  </div>
</body>
</html>